@use '../assets/mixin.scss' as *;

.about {
   padding-top: 38px;
   padding-bottom: 67px;
   margin-bottom: 26px;

   @media (min-width:780px) {
      margin-bottom: 78px;
   }

   @media (min-width:1120px) {
      margin-bottom: 87px;
   }

   &__container {
      position: relative;
   }


   &__text {
      margin-bottom: 59px;
      max-width: 830px;

      @media (min-width:780px) {
         margin-bottom: 78px;
      }
   }

   &__grid {
      display: grid;
      grid-template-columns: 1fr;
      gap: 54px;

      @media (min-width:780px) {
         grid-template-columns: 1fr 1fr;
         column-gap: 29px;
         row-gap: 65px;
      }

      @media (min-width:1120px) {
         gap: 62px;
      }
   }

   &__cell {
      display: flex;
      align-items: center;
      gap: 20px;

      @media (min-width:1120px) {
         gap: 33px;
      }
   }

   &__image {
      flex: 0 0 100px;
      @include size_adaptive_flex (0, 0, 100, 120, 375, 780);
      @include size_adaptive_flex (0, 0, 120, 177, 780, 1120);

      @media (min-width:1120px) {
         flex: 0 0 177px;
      }
   }

   &__image-shell {
      position: relative;
      padding-bottom: 100%;
      border-radius: 50%;
      overflow: hidden;

      img,
      svg {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   &__data {
      font-size: 12px;

      @media (min-width:780px) {
         font-size: 14px;
      }

      @media (min-width:1120px) {
         font-size: 16px;
      }
   }

   &__name {
      font-weight: 700;
      font-size: 16px;
      line-height: 107%;

      @media (min-width:780px) {
         font-size: 20px;
      }

      @media (min-width:1120px) {
         font-size: 28px;
      }
   }

   &__position {
      font-weight: 700;
      line-height: 137%;
   }

   &__expert {
      font-weight: 400;
      line-height: 137%;
      font-size: 12px;

      @media (min-width:1120px) {
         font-size: 16px;
      }
   }

   &__experience {
      font-weight: 700;
      line-height: 137%;
   }

   &__line-1 {
      position: absolute;
      top: 10%;
      right: 30px;
      height: 161px;
      width: 7px;
      border-radius: 4px;
      background-color: var(--color-black);

      @media (min-width:780px) {
         top: 10%;
         right: 50px;
         height: 161px;
         width: 10px;
      }

      @media (min-width:1120px) {
         top: 0;
         right: 50px;
         height: 191px;
         width: 15px;
         background-color: var(--color-yellow);
      }
   }

   &__line-2 {
      position: absolute;
      top: 10%;
      right: 10px;
      height: 95px;
      width: 7px;
      border-radius: 4px;
      background-color: var(--color-yellow);

      @media (min-width:780px) {
         top: 10%;
         right: 20px;
         height: 95px;
         width: 10px;
      }

      @media (min-width:1120px) {
         top: 170px;
         right: 20px;
         height: 141px;
         width: 13px;
         background-color: var(--color-black);
      }
   }
}