.characteristic {
   padding-top: 50px;
   padding-bottom: 60px;

   &__container {
      position: relative;
   }

   &__title {
      margin-bottom: 38px;

      @media (min-width:780px) {
         margin-bottom: 48px;
      }
   }

   &__body {
      @media (min-width:1120px) {
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         gap: 60px;
      }
   }

   &__block {
      margin-bottom: 36px;
      display: grid;
      grid-template-columns: 50px 1fr;
      gap: 10px;

      @media (min-width:780px) {
         grid-template-columns: 95px 1fr;
      }

      @media (min-width:1120px) {
         grid-template-columns: 1fr;
      }
   }

   &__block-icon {
      img {
         width: 100%;
         max-width: 95px;
      }

      @media (min-width:780px) {
         grid-row: span 2;
      }

      @media (min-width:1120px) {
         grid-row: span 1;
      }
   }

   &__block-title {
      font-weight: 700;
   }

   &__block-text {
      grid-column: span 2;

      @media (min-width:780px) {
         grid-column: span 1;
      }
   }

   &__line-1 {
      position: absolute;
      top: 0;
      left: 1%;
      z-index: 1;
      height: 88px;
      width: 7px;
      border-radius: 4px;
      background-color: var(--color-yellow);

      @media (min-width:780px) {
         top: 30%;
         left: 2%;
         height: 225px;
         width: 10px;
      }

      @media (min-width:1120px) {
         top: 40%;
         left: -3%;
         height: 225px;
         width: 15px;
      }

   }

   &__line-2 {
      position: absolute;
      top: 0;
      left: 4%;
      z-index: 1;
      height: 132px;
      width: 7px;
      border-radius: 4px;
      background-color: var(--color-black);

      @media (min-width:780px) {
         top: 60%;
         left: 5%;
         height: 185px;
         width: 10px;
      }


      @media (min-width:1120px) {
         top: 50%;
         left: 0%;
         height: 185px;
         width: 15px;
      }
   }


}