.contacts {
   padding-top: 30px;
   margin-bottom: 65px;

   @media (min-width:780px) {
      padding-top: 40px;
   }

   @media (min-width:1120px) {
      padding-top: 55px;
   }

   &__container {}

   &__body {
      display: flex;
      flex-direction: column;

      @media (min-width:1120px) {
         flex-direction: row;
         gap: 40px;
      }
   }

   &__info {
      font-weight: 500;
      font-size: 12px;
      line-height: 137%;

      @media (min-width:780px) {
         display: block;
         font-size: 14px;
      }

      @media (min-width:1120px) {
         flex: 0 0 37%;
         font-size: 16px;
         display: flex;
         flex-direction: column;
      }
   }

   &__info-block {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      @media (min-width:1120px) {
         align-items: flex-start;
         border-bottom: 8px solid var(--color-yellow);
      }
   }

   &__info-group {
      padding-bottom: 10px;
      max-width: 200px;

      @media (min-width:780px) {
         max-width: 60%;
      }
   }

   &__address {
      margin-bottom: 10px;

      @media (min-width:1120px) {
         margin-bottom: 20px;
         flex: 1 1 auto;
      }
   }

   &__address-item {
      margin-bottom: 10px;

      @media (min-width:1120px) {
         margin-bottom: 25px;
         flex: 1 1 auto;
      }
   }

   &__address-sell {
      @media (min-width:780px) {
         display: flex;
         gap: 25px;
      }

      @media (min-width:1120px) {
         flex-direction: column;
         gap: 0;
      }
   }

   &__weekday {
      text-transform: uppercase;
   }


   &__social {
      display: flex;
      gap: 9px;
      // flex-direction: column;

      @media (min-width:780px) {
         flex-direction: row;
         flex-wrap: wrap;
         gap: 21px;
      }
   }

   &__info-img {
      margin-left: -10%;
      flex: 0 0 max(140px, 30%);

      @media (min-width:780px) {
         flex: 0 0 30.3%;
         margin-top: -40px;
      }

      @media (min-width:1120px) {
         flex: 0 0 57%;
         margin-top: 0;
      }

      img {
         width: 100%;
      }
   }

   &__map {
      height: 69vw;
      flex: 1 1 auto;
      display: flex;
      align-items: stretch;

      @media (min-width:780px) {
         height: 56vw;
      }

      @media (min-width:1120px) {
         align-self: stretch;
         height: auto;
         min-height: 439px;
      }

      iframe {
         width: 100%;
      }
   }
}