.map {
   margin-bottom: 100px;
   overflow: hidden;

   &__container {}

   &__body {
      position: relative;
   }

   &__title {
      position: absolute;
      top: 15%;
      left: 0;
      z-index: 1;
      width: 100%;
   }

   &__image {

      svg,
      img {
         height: 100%;
         width: 150%;
         margin-left: -10%;

         @media (min-width:780px) {
            margin-left: 0;
            width: 100%;
         }
      }
   }
}

.svg-map-circle {
   animation: map 4s infinite calc(var(--i) * 0.3s);
}

@keyframes map {
   0% {
      opacity: 0;
   }

   50% {
      opacity: 1;
   }

   75% {
      opacity: 0;
   }

   100% {
      opacity: 0;
   }
}