.what-it {
   margin-bottom: 67px;

   @media (min-width:1120px) {
      margin-bottom: 100px;
   }

   &__container {}

   &__title {
      margin-bottom: 20px;
   }

   &__body {
      display: flex;
      flex-direction: column;
      gap: 15px;

      @media (min-width:780px) {
         justify-content: space-between;
         flex-direction: row;
      }
   }

   &__meaning {
      flex: 0 0 34%;
      font-weight: 700;

      @media (min-width:1120px) {
         font-size: 20px;
      }
   }

   &__description {
      flex: 0 0 57%;
   }
}